---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h1 class="post-list-heading">{{ page.list_title | default: "Course Modules" }}</h1> -->
    <ul class="post-list">
      {% for item in site.data.nav.toc %}
        <h2 class="post-list-heading">{{ item.title }}</h2>       
          {% for entry in item.subfolderitems %}          
          <li>            
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ entry.date | date: date_format }}</span><br>
            <h3>
              <a class="post-link" href="{{ entry.url | relative_url }}"> {{ entry.page }} </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {% endfor %}    
          <br>
          <span><hr></span>
          <span><hr></span><br><br>
      {% endfor %}
    </ul>
    <!-- <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
  {%- endif -%}

</div>

<!-- <ul>
<li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </li>
</ul> -->